[submodule "vendor-src/symfony/tui"]
	path = vendor-src/symfony/tui
	url = https://github.com/fabpot/symfony.git
[submodule "vendor-src/symfony/nicolas-grekas"]
	path = vendor-src/symfony/nicolas-grekas
	url = https://github.com/nicolas-grekas/symfony.git
		
